.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo img {
        display: block;
        width: 150px;
        height: auto;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li {
        margin-left: 1rem;
    }

    #userDropdown {
        ul {

            display: block;
        }

        li {
            margin-left: 0rem;
        }
    }

    span {
        color: #8d99ae;
    }
}